.ShiningText {
  padding: 0;
  margin: 0;
  background-color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .text {
    position: relative;
    color: rgba(255, 255, 255, .01);
    font-family: 'DM Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shining-text-animate 3s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, .01);


    @keyframes shining-text-animate {
      0% {
        background-position: -500%;
      }
      100% {
        background-position: 500%;
      }
    }
  }
}
