@import '~@fontsource/roboto';
@import '~@fontsource/roboto/300.css';
@import '~@fontsource/roboto/500.css';

@import '~@fontsource/dm-mono';
@import '~@fontsource/dm-mono/500.css';

@import '~@fontsource/poppins';
@import '~@fontsource/poppins/600.css';

@import '~@fontsource/nunito';
@import '~@fontsource/nunito/600.css';

@import '~normalize.css/normalize';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
